body{
	background-color: #00292D;
	
	margin:0;

	padding:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	

	color:white;
}

h2{
	font-weight:normal;
}

site-data{
	background-color:#FE7300;
}

.highcharts-container{
	max-height:30vh;
	max-width:33vw;
}

.highcharts-root{
	max-height:30vh;
	max-width:33vw;
}

.site-chart{
	max-width: 33vw;
}

.header{
	min-height:3vh;
	background-color:#FE7300;
	margin:0 0 0 0;
	width:100%;
	color:white;
	padding: 0 0 0 2vw;
}

.logo{
	width:5vw;
	height:4vw;
}

.chart-area{
    display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #00292D;
	/*height:100vh;*/
}

.top-info-row{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	color:white;
	/*padding: 3vh 0 3vh 0;*/
}

.bottom-info-row{
	background-color:#00818A;
	display:flex;
    justify-content: space-evenly;
	flex-direction:row;
}

.production-info{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	padding-left:1vw;
}

.production-info h1{
	margin-top:0px;
	font-weight:normal;
}

.production-info h2{
	font-weight: lighter;
	margin-bottom:0px;
}
.production-info h3{
	font-weight: lighter;
	margin-bottom:0px;
	margin-top:0px;
}

.status-info{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

td{
	padding: 0 10px 0 10px;
}

