[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pendulum = "*"
gunicorn = "*"
Flask = "*"
click = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
flask_cors = "*"
mongoengine = "*"
flask_restful = "*"

[dev-packages]

[requires]
python_version = "3.6"
