[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pendulum = "*"
gunicorn = "*"
Flask = "*"
click = 6.7
itsdangerous = 0.24
Jinja2 = 2.10
MarkupSafe = 1.0
Werkzeug = 0.14.1
flask_cors = "*"
mongoengine = "*"
flask_restful = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
