<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard 2</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
    <script type="text/javascript">
        google.charts.load('current', {
           'packages':['geochart'],
           'mapsAppikey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawMarkersMap);

        function drawMarkersMap() {
            $.get('http://dashboard-5b-one.herokuapp.com/site-summary', function(data) {
                var map_data = google.visualization.arrayToDataTable(data);

            var options = {
               region: 'AU',
               displayMode: 'markers'
            };

            var chart = new google.visualization.GeoChart(document.getElementById('graphs'));
            chart.draw(map_data, options);
            });
        }
   </script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <img src="/static/logo.png" alt="5B Logo" class="rounded mx-auto d-block">
        </div>
        <div id="graphs"></div>
    </div>
</body>
<footer>
</footer>
</html>