<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Electricity Data</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <img src="/static/logo.png" alt="Global Electricity Stats Logo" class="rounded mx-auto d-block">
        </div>
        <div id="country-input">
            <div class="row">
                <div class="col-lg-6">
                    <label for="country">Country</label>
                    <input class="form-control form-control-lg" type="text" name="country-search" id="country" placeholder="e.g. Australia"/>
                </div>
                <div class="col-lg-6">
                    <label for="year">Year</label>
                    <select class="form-control form-control-lg" name="year-search" id="year"></select>
                </div>
            </div>
            <div id="button-press">
                <button id="search-button" class="btn btn-primary btn-lg" onclick="search_country()">Search</button>
            </div>
        </div>
        <br><br>
        <div id="graphs">
            <div id="additional-data" class="row text-center">
                <div id="population"></div>&nbsp;<div id="energy-access"></div><div id="countrychart"></div>
            </div>
            <div class="row">
                <div id="piechart" class="col-lg-6"></div>
                <div id="linechart" class="col-lg-6" style="padding-top: 30px"></div>
            </div>
            <br><br>
            <div class="row">
                <div id="globe"></div>
                <br>
                <div id="regions_div" class="col-lg-12"></div>
            </div>
            <br><br>
        </div>
    </div>
</body>
<footer>
    <script>
        $(function(){
            var $select = $('#year');
            for (i=2015;i>=1999;i--){
                $select.append($('<option></option>').val(i).html(i))
            }
        });

        $(function () {
            var getData = function (request, response) {
                $.getJSON(
                    "/countries/" + request.term,
                    function (data) {
                        response(data);
                    });
            };

            var selectItem = function (event, ui) {
                $("#country").val(ui.item.value);
                return false;
            }

            $("#country").autocomplete({
                source: getData,
                select: selectItem,
                minLength: 3
            });
        });
    </script>
    <script>
        // Get the input field
        var input = document.getElementById("country");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function(event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                document.getElementById("search-button").click();
            }
        });
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['line']});
        {#google.charts.setOnLoadCallback(search_country);#}
        google.charts.load('current', {
            'packages': ['geochart'],
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        function search_country() {
            var country = document.getElementById('country').value;
            var year = document.getElementById('year').value;

            $.get( "/greens/" + year, function(data){
                {#console.log(data);#}
                var map_data = new google.visualization.arrayToDataTable(data);
                var map_options={'width': 1112, 'height': 694};
                var map_chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
                map_chart.draw(map_data, map_options);
                google.visualization.events.addListener(map_chart, 'select', selectHandler)
                $('#globe').empty();
                $('#globe').append('<h2>Global Green Index map in ' + year + ':</h2>');
                function selectHandler() {
                    var selectedItem = map_chart.getSelection()[0];
                    if (selectedItem) {
                        {#console.log(selectedItem)#}
                        var value = map_data.getValue(selectedItem.row, 0);
                        {#console.log(value)#}
                        document.getElementById('country').value = value
                        window.scrollTo(0, 0);
                        search_country()
                        {#alert('The user selected ' + value);#}
                    }
                }
            });

            $.get("/energymix/" + country + "/" + year, function(data, status){
                {#if (data.status = 404) {#}
                console.log("The status is" + status);

                var pie_data = new google.visualization.arrayToDataTable([
                    ['Energy Type', 'kWh'],
                    ['Combustibles', data.combustibles],
                    ['Geothermal', data.geothermal],
                    ['Hydro', data.hydro],
                    ['Nuclear', data.nuclear],
                    ['Solar', data.solar],
                    ['Wind', data.wind],
                    ['Unclassified', data.other]
                ]);
                var pie_options = {
                    title: 'Energy Mix',
                };
                var pie_chart = new google.visualization.PieChart(document.getElementById('piechart'));
                pie_chart.draw(pie_data, pie_options);
                google.visualization.events.addListener(pie_chart, 'select', selectFuel);
                function selectFuel() {
                    var selectedFuel = pie_chart.getSelection()[0];
                    console.log(selectedFuel);
                    if (selectedFuel){
                        var fuel = pie_data.getValue(selectedFuel.row, 0);
                        $('html,body').animate({
                                scrollTop: $("#globe").offset().top},
                                'slow');
                        $.get("/globalfuel/" + fuel + "/" + year, function(data) {
                            var map_data = new google.visualization.arrayToDataTable(data);
                            var map_options={'width': 1112, 'height': 694, colorAxis: {colors:['#fffff0', 'orange']}};
                            var map_chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
                            map_chart.draw(map_data, map_options);
                            google.visualization.events.addListener(map_chart, 'select', selectHandler);
                            $('#globe').empty();
                            $('#globe').append('<h2>Global '+ fuel +' map in ' + year + ':</h2>');



                            function selectHandler() {
                                var selectedItem = map_chart.getSelection()[0];
                                if (selectedItem) {
                                    {#console.log(selectedItem)#}
                                    var value = map_data.getValue(selectedItem.row, 0);
                                    {#console.log(value)#}
                                    document.getElementById('country').value = value
                                    window.scrollTo(0, 0);
                                    search_country()
                                    {#alert('The user selected ' + value);#}
                                }
                            }
                        })
                    }
                }

            });

            $.get( "/growths/" + country, function(data){
                console.log(data);
                var line_data = new google.visualization.DataTable();
                line_data.addColumn('string', 'Year');
                line_data.addColumn('number', 'Combustibles');
                line_data.addColumn('number', 'Geothermal');
                line_data.addColumn('number', 'Hydro');
                line_data.addColumn('number', 'Nuclear');
                line_data.addColumn('number', 'Solar');
                line_data.addColumn('number', 'Wind');
                line_data.addColumn('number', 'Other');
                line_data.addRows(data);
                var line_options={'width': 450, 'height': 250, vAxis: {format: 'percent'}};
                var line_chart = new google.charts.Line(document.getElementById('linechart'));
                line_chart.draw(line_data, line_options);

                google.visualization.events.addListener(line_chart, 'select', selectHandler)
                function selectHandler() {
                    var selectedItem = line_chart.getSelection()[0];
                    if (selectedItem) {
                        if(selectedItem.row) {
                            var value = line_data.getValue(selectedItem.row, 0);
                            document.getElementById('year').value = value;
                            search_country()
                        }
                    }
                }
            });

            $.get( "/consumption/" + country + "/" + year, function(data){
                $('#countrychart').empty();
                $('#countrychart').append('<h4>Electricity consumption was ' + Math.round(data.consumption_percapita.amount) + ' '+data.consumption_percapita.unit +' per capita in ' + data.year + '.');
            });

            $.get( "/energyaccess/" + country + "/" + year, function( data ) {
                console.log(data);
                $('#energy-access').empty();
                $('#energy-access').append('<h4>' + Math.round(data.energy_access) + '% of these people had access to electricity. </h4>');
            });
            $.get( "/population/" + country + "/" + year, function( data ) {
                console.log(data);
                $('#population').empty();
                $('#population').append('<h4>The population of ' + data.country + ' in ' + data.year + ' was ' + Math.round(data.population / 100000) / 10 + ' million.</h4>');
            });
        }
    </script>
</footer>
</html>